# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# MkDocs
site/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
.tmp/
database.db
*.db
*.sqlite3

# Nix
.direnv/
result
