name: Publish Documentation
on:
  push:
    branches:
      - main
    paths:
      - "docs/**"
      - "mkdocs.yml"
      - ".github/workflows/docs.yml"
      - "pyproject.toml"
      - "poetry.lock"
      - "src/**"

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Build and Deploy Docs
        run: |
          nix develop --command bash -c "
            unset LD_LIBRARY_PATH
            poetry install
            poetry run mkdocs gh-deploy --force
          "
